// Width Page
$xs: 576px;
$sm: 768px;
$md: 992px;
$lg: 1200px;

// Width & Height
$wc-120: 120px;
$wc-300: 300px;
$wc-500: 500px;
$wc-600: 600px;
$hc-120: 120px;
$hc-300: 300px;
$hc-400: 400px;
$hc-500: 500px;

// Font weight
$txt-font-weight-normal: 300;
$txt-font-weight-thin: 100;
$txt-font-weight-regular: 400;
$txt-font-weight-medium: 600;
$txt-font-weight-bold: 700;

// Font size
$txt-font-size-normal: 10px;
$txt-font-size-light: 1.25em;
$txt-font-size-medium: 1.4em;
$txt-font-size-medium-px: 20px;


// Text color
$text-dark: #181818;
$text-dark-1: #111;
$text-white: #fff;
$text-8d: #8D8D8D;
$text-e7: #E76F51;
$text-e8: #E8775B;

// Background color
$bg-white: #fff;
$bg-f8: #F8E1DB;
$bg-fa: #FAF4F2;
$bg-f4: #f4dcce91;
$bg-e8: #E8E8E8;
$bg-b2: #B2A4FF;

// Text space
$text-space-extra-small: 10px;
$text-space-extra-light: 45px;
$text-space-light: 50px;
$text-space-medium: 80px;
$text-space-large: 90px;